* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: whitesmoke;
}

.img {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 10px;
  height: 100px;
  width: 300px;
  padding: 90px;
}

.loginConatiner {
  margin-top: 40px;
  height: 100vh;
  padding: 5px;
  display: flex;
  justify-content: center;
}
.loginCard {
  background-color: white;
  box-shadow: 0px 0px 6px 6px rgba(160, 160, 160, 0.6);
  /* -webkit-box-shadow: 0px 0px 6px 6px rgba(154, 154, 155, 0.6); */
  /* -moz-box-shadow: 0px 0px 6px 6px rgba(135, 136, 137, 0.6); */
  border-radius: 6px;
  padding: 10px;
  height: 450px;
  width: 360px;
}

.formGroup {
  margin-bottom: 20px;
}
.formGroup label {
  font-size: 15px;
  display: block;
  font-weight: 600;
  background: white;
}

.formGroup input {
  color: darkgrey;
  background: white;
  font-size: 18px;
  border-radius: 4px;
  padding: 4px;
  border: 1px solid black;
}
